<h1 class="search__title">Search your images &#128521</h1>
<form class="search-form" id="search-form">
  <input type="text" name="query" autocomplete="off" placeholder="Search images..." autofocus />
</form>
<div class="viewer"></div>
<a class="pagination__next "
  href="https://pixabay.com/api/?key=16887620-e991db8737f2bb3a88bca8c81&q=cat&per_page=12&page=2">Next</a>

