<h1 class="search__title">Search your favorite images &#128521</h1>
<form class="search-form" id="search-form">
  <input type="text" name="query" autocomplete="off" placeholder="Search images..." autofocus />
</form>
<div id="viewer"></div>
<button id="load-more-btn" class="load-more-btn" hidden>Load more</button>