<h1 class="pixabay__title">Search your favorite images &#128521</h1>
<form class="pixabay__form" id="pixabayForm">
    <div class="pixabay__input-container">
        <input type="submit" value="Search">
        <input type="text" name="query" class="pixabay__search" autocomplete="off" placeholder="Search images..."
            autofocus />
        <input type="checkbox" name="infiniteScroll" id="infiniteScroll" />
        <label for="infiniteScroll" class="pixabay__infiniteScroll">Infinite Scroll</label>
    </div>
</form>
<div id="pixabayViewer"></div>
<button id="pixabayLoadMoreBtn" class="pixabay__btn" hidden="true">
    Load more
</button>